

/* ==========================================================================

   Color Scheme: Hot Orange - Dark

   ========================================================================== */



/*

 * Text selection colors

 */



::-moz-selection {

	background: rgb(54, 41, 54);

}



::selection {

	background: rgb(54, 41, 54);

}



html,

button,

input,

select,

textarea {

	color: rgb(213, 208, 206);

	text-shadow: 2px 2px 4px rgb(0, 0, 0);

}



body {

  background-color:black;

  background-image:

radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),

radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),

radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),

radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);

background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;

background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;

/*background theme stairy night*/

}





/*

 * Text shadow

 */



.title-font {

	text-shadow: 4px 3px 0 rgb(102, 76, 62);

}





@media all and (min-width:601px) and (max-width:1030px) {



	.title-font {

		text-shadow: 3px 2px 0 rgb(102, 76, 62);

	}

}



/*

 * Highlight color - top ribbon and links

 */



.top-ribbon {

	background-color: rgb(253, 141, 9);

}



a {

	color: rgb(253, 141, 9);/*ornage theme color*/

	border-bottom: dotted 1px rgb(253, 141, 9);

}



/*

 * Text & other Colors

 */



a:hover {

	color: rgb(156, 18, 140);

	border-bottom: dotted 1px rgb(156, 18, 140);

}



.sparator {

	border-bottom: dashed 1px rgb(90, 87, 86);

}



blockquote {

	border-left: solid 1px rgb(226, 221, 219);

}



.sidebar-font {

	color: rgb(136, 126, 123);

}



@media all and (max-width:800px){

	.sidebar-font {

		color: rgb(164, 157, 154);

	}

}



figcaption,

blockquote,

.meta-info-font,

.site-footer-font,

.tagline-font {

	color: rgb(136, 126, 123);

}



/*

 * Home button

 */



.home a {

	color: rgb(170, 167, 166);

}



.home a:hover {

	color: rgb(255, 255, 255);

}



/*

 * Resets - elements that were altered

 * (usually by being a link) that I want to revert to the original color.

 */



 .entry-title-font a,

 .category,

 .category:hover {

	color: rgb(213, 208, 206);

}

